@model List<Book>
@{
    ViewData["Title"] = "Books";
}

<div class="table-responsive">
    <table class="table  table-bordered table-striped table-hover">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Created Time</th>
                <th>Borrowed Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Name</th>
                    <th>@item.Author</th>
                    <th>@item.Genre</th>
                    <th>@item.CreatedTime</th>
                    <th>@item.BorrowedTime</th>
                    <th>
                        <a class="btn btn-primary" asp-controller="Book" asp-action="ReturnBorrowed" asp-route-Id="@item.Id">Return</a>
                    </th>
                </tr>   
            }
        </tbody>
    </table>
</div>



